.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    background: #11101d;
    .logo_content .logo{
        color: #fff;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        .logo_name{
            font-size: 20px;
            font-weight: 400;
        }
    }
    #btn{
        position: absolute;
        color: #fff;
        left: 90%;
        top: 6px;
        font-size: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
    }
    ul{
        margin-top: 20px;
        padding: 0;
        li{
            position: relative;
            height: 50px;
            width: 100%;
            margin: 0 5px;
            list-style: none;
            a{
                color: #fff;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all 0.4s ease;
                border-radius: 12px;
                fa-icon {
                    height: 50px;
                    min-width: 50px;
                    border-radius: 12px;
                    line-height: 50px;
                }
            }
            a:hover{
                color: #11101d;
                background: #fff;
            }
        }
    }
}
